.appLight {
  background-color: white;
  display: flexbox;
}
body {
  overflow-x: hidden;
}

.navbar {
  background-color: rgb(39, 39, 39);
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
}

.navbar h1,
.navbar p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar button {
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
  background-color: grey;
  color: black;
}


#sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 250px;
  position: absolute;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  
}

#sidebar ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-top: 0;
}

.email {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-bottom: 1px;
  padding: 20px;
  border-color: black;

}

.email:hover {
  background-color: lightgrey;
  color: whitesmoke;
  transform: scale(1.1);
}

#searchbar {
  width: 243px;
  height: 25px;
}

#statslist {
  list-style: none;
  overflow-y: visible;
}


.statscard {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 0;
  margin-bottom: 3px;
  padding: 20px;
  border-color: black;
}

#statssearchbar {
  width: 20vw;
  height: 3vh;
  border-color: black;
  background-color: white;
  color: black;
}

#composedbutton {
  width: 250px;
  height: 25px;
  border-color: black;
  background-color: white;
}

#emailbody {
  max-width: 600px;
  margin-left: 275px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


#title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#subject {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

#body {
  margin-bottom: 20px;
}

#sendbutton,
#replybutton,
#unsubscribedbutton {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#sendButton:hover,
#replyButton:hover,
#unsubscribedButton:hover {
  background-color: #45a049;
}

#newform {
  width: fit-content;
  margin-left: 275px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

#newform label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

#newform input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

#newform button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

 #newformx {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
}

button:hover {
  background-color: #45a049;
}



.companies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.company-card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.company-card-header {
  background-color: white;
  color: #333;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}

.company-card-body {
  padding: 15px 20px;
  text-align: left;
  font-size: 16px;
  color: #666;
}

.company-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.company-card li {
  margin-bottom: 8px;
}

.company-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#newcompanybutton {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}
#companyButton-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#companyList-container{
display: flex;
justify-content: center;
}

#companies-container {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center; /* Center horizontally */
 }
 #companyForm-container{
  display: flex;
  justify-content: center;
 }

 #companynewform {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
 }
